{% extends 'staff_template/base_template.html' %}

{% block page_title %}Home{% endblock page_title %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% for box in dashboard_boxes %}
            <div class="col-lg-3 col-6">
                <div class="small-box {{ box.color }}">
                    <div class="inner">
                        <h3>{{ box.value }}</h3>
                        <p>{{ box.label }}</p>
                    </div>
                    <div class="icon">
                        <i class="{{ box.icon }}"></i>
                    </div>
                    <a href="{% url 'staff_view_attendance' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>

                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Student Population Per Subject</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart" style="height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Attend Subject</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="barChart" style="height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}

{% block custom_js %}
<script>
$(document).ready(function(){
    var pieData = {
        labels: {{ subject_list|safe }},
        datasets: [
            {
                label: 'Student Population Per Subject',
                backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef'],
                data: {{ student_population_list }}
            }
        ]
    };
    new Chart($('#pieChart').get(0).getContext('2d'), { type: 'pie', data: pieData });

    var barChartData = {
        labels: {{ subject_list|safe }},
        datasets: [
            {
                label: 'Attend Subject Chart',
                backgroundColor: 'rgba(60,141,188,0.9)',
                data: {{ attendance_list }}
            }
        ]
    };
    new Chart($('#barChart').get(0).getContext('2d'), { type: 'bar', data: barChartData });
});
</script>
{% endblock custom_js %}